<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <authorization>
      <allow roles="Administradores,Usuarios" />
      <allow users="*"/>
    </authorization>
  </system.web>

  <location path="Logout.aspx">
    <system.web>
      <authorization>
        <allow roles="Administradores,Usuarios" />

        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="ChangePassword.aspx">
    <system.web>
      <authorization>
        <allow roles="Administradores" />

        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="ChangePasswordSuccess.aspx">
    <system.web>
      <authorization>
        <allow roles="Administradores" />

        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="Register.aspx">
    <system.web>
      <authorization>
        
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  

</configuration>
